<footer>
  <ul>
    <li>
      <a href="/">
        Home
      </a>
    </li>
    <li>
      <a href="/about">
        About
      </a>
    </li>
    <li>
      <a href="/blogs">
        Blog
      </a>
    </li>
    <li>
      <a href="/privacy">
        Privacy
      </a>
    </li>
  </ul>
</footer>
