<h2 class="title">
  Hello <%= username %>,
</h2>

<p class="welcome">
  This is your dashboard, where you can easily access and manage all your data, settings, and activities. It gives you an overview of your most important information and allows you to quickly navigate between different sections. Whether you're tracking progress, adjusting preferences, or reviewing updates, everything you need is just a click away.
</p>

<ul class="dashboard-cards">
  <li class="card">
    <a href="/blog/all" class="all-blogs">
      <span class="label">
        All Blogs
      </span>
      <img src="/images/dashboard/all-blogs.png" alt="All Blogs" class="illustration" />
    </a>
  </li>
  <li class="card">
    <a href="/blog/my-blogs" class="my-blogs">
      <span class="label">
        My Blogs
      </span>
      <img src="/images/dashboard/my-blogs.png" alt="My Blogs" class="illustration" />
    </a>
  </li>
  <li class="card">
    <a href="/blog/create" class="create-blog">
      <span class="label">
        Create Blog
      </span>
      <img src="/images/dashboard/create-blog.png" alt="Settings" class="illustration" />
    </a>
  </li>
  <li class="card">
    <a href="/settings" class="settings">
      <span class="label">
        Settings
      </span>
      <img src="/images/dashboard/settings.png" alt="Settings" class="illustration" />
    </a>
  </li>
</ul>
