<h2 class="title">
  Create
  <span>
    Stories & Ideas
  </span>
</h2>
<p class="content">
  A place to read and write blogs.
</p>
<a href="/login">
  <button class="btn-primary">
    Start Reading
  </button>
</a>

<img src="/images/home/decoration.svg" alt="decoration" class="decoration-image" />
