<!DOCTYPE html>
<html lang="en">
<%- include("../../partials/layout/head", {
  title: "All Blogs | Express Blog",
  pageStyle: "blog/list.css",
}) %>
<body>
  <%- include("../../partials/layout/navbar") %>
  <main>
    <h2 class="title">
      All Blogs
    </h2>
    <%- include("../../partials/blog-list") %>
  </main>
  <%- include("../../partials/layout/footer") %>
</body>
</html>
