<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head", {
  title: "Express Blog",
  pageStyle: "404.css"
}) %>
<body>
  <%- include("./partials/navbar") %>
  <main>
    <h2 class="title">
      Oops! Page not found
    </h2>
    <h3 class="sub-title">
      We couldn't find the page that you're looking for
    </h3>
    <a href="/">
      <button class="btn-primary">
        Back Home
      </button>
    </a>
  </main>
  <%- include("./partials/footer") %>
</body>
</html>
