<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head", { title: "Express Blog" }) %>
<body>
  <%- include("./partials/navbar") %>
  <h2>
    All Blogs
  </h2>
  <%- include("./partials/footer") %>
</body>
</html>
