<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head", { title: "Express Blog" }) %>
<body>
  <%- include("./partials/navbar") %>
  <main>
    <h2>
      Login
    </h2>
    <form action="/login" method="post">
      <input type="email" name="email" />
      <input type="password" name="password" />
      <button class="btn-primary">
        Login
      </button>
    </form>
  </main>
  <%- include("./partials/footer") %>
</body>
</html>
