<!DOCTYPE html>
<html lang="en">
<%- include("./partials/layout/head", {
  title: "Register | Express Blog",
  pageStyle: "auth.css",
}) %>
<body>
  <%- include("./partials/layout/navbar") %>
  <main>
    <h2 class="title">
      Register
    </h2>
    <form action="/register" method="post">
      <input
        type="email"
        name="email"
        placeholder="Email"
        required />
      <input
        name="name"
        placeholder="Name"
        required />
      <input
        type="password"
        name="password"
        placeholder="Password"
        required />
      <button class="btn-primary">
        Register
      </button>
    </form>
  </main>
  <%- include("./partials/layout/footer") %>
</body>
</html>
