@use "./partials/colors";
@use "./partials/button";
@use "./partials/input";
@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Yusei Magic", sans-serif;

  &::selection {
    background-color: rgba(colors.$foreground, 90%);
    color: colors.$accent;
  }
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input {
  font-family: sans-serif;
}
