<footer>
  <ul class="links">
    <li>
      <a href="/">
        Home
      </a>
    </li>
    <li>
      <a href="/about">
        About
      </a>
    </li>
    <li>
      <a href="/blogs">
        Blog
      </a>
    </li>
    <li>
      <a href="/privacy">
        Privacy
      </a>
    </li>
  </ul>

  <div class="copy">
    <div>
      <span class="symbol">
        &copy;
      </span>
      <%= new Date().getFullYear() %>
    </div>
    <span class="circle">
      &#9679;
    </span>
    <a href="https://github.com/n-eeraj" target="_blank" class="github-link">
      N-eeraj
    </a>
  </div>
</footer>
