<nav>
  <a href="/">
    <h1>
      Express Blog
    </h1>
  </a>

  <div class="user-auth">
    <% if (locals.user) { %>
      <span>
        <%= user.name %>
      </span>
      <form action="/logout" method="post">
        <button class="btn-primary">
          Logout
        </button>
      </form>
    <% } else { %>
      <a href="/login">
        <button class="btn-primary">
          Login
        </button>
      </a>
     <% } %>
  </div>
</nav>
