@use "./partials/colors";
@use "./mixins/about/header";
@use "./mixins/about/features";

main {
  max-width: 980px;
  margin: 0 auto;
  padding: 4px 8px;

  @include header.header;
  @include features.features;

  @media screen and (min-width: 720px) {
    padding-top: 8px;
  }
}
