@use "./partials/base";
@use "./partials/colors";
@use "./partials/navbar";
@use "./partials/footer";

body {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  min-height: 100svh;
  background-color: colors.$background;
  color: colors.$foreground;
}
