<!DOCTYPE html>
<html lang="en">
<%- include("../partials/layout/head", {
  title: "Create Blog | Express Blog",
  pageStyle: "blog/create.css",
}) %>
<body>
  <%- include("../partials/layout/navbar") %>
  <main>
    <h2 class="title">
      Create Blog
    </h2>
  </main>
  <%- include("../partials/layout/footer") %>
</body>
</html>
