<!DOCTYPE html>
<html lang="en">
<%- include("../partials/layout/head", {
  title: `${title} | Express Blog`,
  pageStyle: "blog/view.css",
}) %>
<body>
  <%- include("../partials/layout/navbar") %>
  <main>
    <h2 class="title">
      View Blog
    </h2>
  </main>
  <%- include("../partials/layout/footer") %>
</body>
</html>
