<section class="features-container">
  <h3 class="title">
    Features
  </h3>
  <ul class="list">
    <li class="item">
      Authentication
    </li>
    <li class="item">
      Blog CRUD
    </li>
    <li class="item">
      Responsive Design
    </li>
    <li class="item">
      User Profile
    </li>
  </ul>
</section>
