<header>
  <h2 class="title">
    About This Blog
  </h2>
  <p>
    This blog is powered by <a href="https://nodejs.org/" target="_blank" rel="noreferrer" class="node-js">Node.js</a> and <a href="https://expressjs.com/" target="_blank" rel="noreferrer" class="express-js">Express.js</a>, providing a fast backend and efficient routing.
    We use <a href="https://ejs.co/" target="_blank" rel="noreferrer" class="ejs">EJS</a> for dynamic content rendering and <a href="https://www.mongodb.com/" target="_blank" rel="noreferrer" class="mongo-db">MongoDB</a> to store data, offering flexibility and scalability.
    For styling, <a href="https://sass-lang.com/" target="_blank" rel="noreferrer" class="scss">SCSS</a> keeps our design clean, modular, and responsive across all devices.
    Together, this tech stack ensures a smooth and enjoyable user experience.
  </p>
</header>
