@use "../mixins/blog";
@use "../partials/pagination";

main {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 4px max(12px, 3vw);

  .title {
    font-size: 2rem;
  }

  .blogs-list {
    @include blog.list;

    .blog-card {
      @include blog.card;
    }
  }

  .pagination {
    margin-top: 12px;
  }
}
